@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,600,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  color: #111111;
}

.offset:before {
  display: block;
  content: '';
  height: 4rem;
  margin-top: -4rem;
}

/*============= NAVIGATION =============*/
.navbar{
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  background: rgba(0, 0, 0, 0.6);
}
.navbar-brand:hover{
  color: #333333;
}
.navbar-brand span{
  height: 2rem;
  font-size: 26px;
  color: #38ACEC;
}
.navbar-brand span:hover{
  color: #3090C7;
}
.navbar-nav li{
  padding-right: 0.7rem;
}
.navbar-dark .navbar-nav .nav-link {
  color: white;
  padding-top: 0.8rem;
}
.navbar-dark .navbar-nav .nav-link.active, .navbark-dark .navbar-nav .nav-link:hover {
  color: #38ACEC;
}


/*============= LANDING PAGE =============*/
.home-inner{
  background-image: url(img/lifestyle.jpg);
}
.caption {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 38%;
  z-index: 1;
  color: white;
  text-transform: uppercase;
}
.caption h1 {
  font-size: 3.8rem;
  font-weight: 600;
  letter-spacing: 0.3rem; 
  text-shadow: 0.1rem 0.1rem 0.8rem black;
  padding-bottom: 1rem;
}

.caption h3 {
  font-size: 2rem;
  text-shadow: 0.1rem 0.1rem 0.5rem black;
  padding-bottom: 0.6rem;
}
.btn-lg{
  border-width: medium;
  border-radius: 0;
  padding: 0.6rem 1.3rem; 
  font-size: 1.1rem;
}


/*============= COURSE SECTION =============*/
.narrow {
  width: 75%;
  margin: 1.5rem auto;
  padding-top: 2rem;
}
.narrow h1 {
    font-size: 2.4rem;
}
.btn-secondary {
  border-width: medium;
  border-radius: 0;
  padding: 0.6rem 1.2rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 1rem;
  border-color: #38ACEC;
  background-color: #38ACEC;
  color: white;
}
.btn-secondary:hover,
.btn-secondary:focus {
  border-color: #3090C7;
  background-color: #3090C7;
  color: white;
}


/*============= FEATURES SECTION =============*/

.jumbotron {
  margin-bottom: 0;
  padding: 2rem 0 3.5rem;
  border-radius: 0;
}
.heading {
  font-size: 1.9rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 1.9rem;
}
.heading-underline {
  width: 3rem;
  height: .2rem;
  background-color: #38ACEC;
  margin: 0 auto 2rem;
}
.feature svg.svg-inline--fa {
  color: #3090C7;
}
.feature h3 {
  font-size: 1.3rem;
  text-transform: uppercase;
  padding-bottom: 0.4rem;
}
.feature p {
  font-size: 1.1rem;

}

/*============= PORTFOLIO SECTION =============*/
.fixed {
  background-image: url(img/apple.png);
  z-index: -1;
}
.dark {
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 7rem 2rem;
}
.fixed-background h3 {
  margin-bottom: 2rem;
}
.fixed-background p {
  margin-top: 1.5rem;
}

/*============= CLIENTS SECTION =============*/
.clients img {
  width: 100%;
  border-radius: 50%;
}
blockquote .svg-inline-fa {
  color: #38ACEC;
  margin: 1rem;
}
.clients-hr {
  border-top: 0.05rem solid #38ACEC;
}

/*============= cONTACT SECTION =============*/
footer {
  background-color: #40474e;
  color: white;
  padding: 2rem 0 2rem;
  margin-top: 1rem; 
}
footer h3{
  height: 3rem;
  font-size: 38px;
  font-weight: 500;
  color: white;
  text-decoration: none;
}
footer h3 span{
  height: 3rem;
  font-size: 38px;
  font-weight: 600;
  color: #38ACEC;
  text-decoration: none;
}
footer a {
  color: white;
}
footer svg.svg-inline--fa {
  font-size: 1.6rem;
  margin: 1.2rem 0.5rem 0 0;
}
footer svg.svg-inline--fa:hover {
  color:#38ACEC!important;
}
hr.socket {
  width: 100%;
  margin-top: 2rem;
  border-top: 0.2rem solid #CCCCCC; 
}
.copyright{
  text-align: center;
}
.copyright a{
  text-decoration: none;
}
.copyright a:hover{
  color: #3090C7;
}

/*============= MEDIA QUERIES =============*/
@media (max-width: 767px) {
.caption h1 {
  font-size: 2.3rem;
  letter-spacing: 0.15rem; 
  padding-bottom: 0.5rem;
}

.caption h3 {
  font-size: 1.2rem;
  padding-bottom: 1.2rem;
}

.btn-secondary {
  align-items: center;
  justify-content: center;
}

.btn-lg{
  padding: 0.5rem 1rem; 
  font-size: 1rem;
}

.narrow h1 {
  font-size: 1.5rem;
}

.clients img {
  max-width: 100%;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

}

/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
